<!DOCTYPE html>
<html>

<head>
<style>
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 12px;
}
</style>
</head>

<body style="margin-top:12%;">
  <h1>{{ title }}</h1>
  <form method="POST">
    <label for="url">Youtube URL:</label>
    <input type="text" id="url" name="url" size="60"><br><br>
    <label for="filename">Desired Filename:</label>
    <input type="text" id="filename" name="filename" size="20"><br><br>

    <select id="language", name="language">
	  <option value="en">English</option>
	  <option value="cn">Mandarin (Simplified)</option>
	  <option value="tw">Mandarin (Traditional)</option>
    </select> 

    <input type="submit" value="Submit">
  </form>
</body>

</html>
