<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 12px;
  text-align: center;
}
</style>
</head>

<body style="margin-top:12%;">
  <h1>{{ title }}</h1>
  <h2> 
    <br> <br> <br>
    <a href="{{ f1 }}"> Youtube Download: Keep the video you like in your disk! <br><br> </a>
    <a href="{{ f2 }}"> Conetent Analyse: know about the video without watching it. <br><br> </a>
  </h2>  
  <p class="footer">
    <br> <br> <br>
    <a href="mailto:houj0411@gmal.com"> contact me <br> </a> 
    <a href="https://github.com/Tou7and/audio-content-analysis"> github link </a> 
  </p>
</body>

</html>
